version: "3.8"

services:
  kasm:
    image: lscr.io/linuxserver/kasm:latest
    container_name: kasm
    privileged: true
    environment:
      KASM_PORT: 443
      TZ: Europe/Amsterdam
      DOCKER_HUB_USERNAME: USER #optional
      DOCKER_HUB_PASSWORD: PASS #optional
    volumes:
      - ./data:/opt
      - ./profiles:/profiles #optional
      - /dev/input:/dev/input #optional
      - /run/udev/data:/run/udev/data #optional
    ports:
      - 3000:3000
      - 443:443
    restart: unless-stopped