version: "3.8"

services:
  pwndrop:
    image: lscr.io/linuxserver/pwndrop:latest
    container_name: pwndrop
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "Europe/Amsterdam"
      SECRET_PATH: "/pwndrop" # optional
    volumes:
      - ./pwndrop/config:/config
    ports:
      - "8133:8080"
    restart: unless-stopped